# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# For Visual Studio
.vscode/
.vs/
*.exe
*.log
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ASP.NET Core
bin/
obj/
wwwroot/
node_modules/